title: Connect App  # Empty
app:
  id: connect-app    # connect-app
  text_multithreading: true   # false
  antialiasing: true    # false
  try_opengles_first: true    # false
window:
  size: [480, 480]  # [1024, 768]
  position: [0, 0]  # [0, 0]
  min_size: [480, 480]  # None
  max_size: null    # None
  visible: true   # true
  resizable: true   # true
  decorations: true   # true
  transparent: true    # false
  always_on_top: false    # false
  icon_path: null # Todo
css:
  default: /home/user/.mecha/connect/src/assets/css/style.css 
modules:
  pages_settings:
    app_info:
      app_icon: /home/user/.mecha/connect/src/assets/images/mecha_icon.png
      virtual_network_icon: /home/user/.mecha/connect/src/assets/images/create_virtual_network.png
      real_time_icon: /home/user/.mecha/connect/src/assets/images/real_time.png
      encypt_icon: /home/user/.mecha/connect/src/assets/images/encrypt.png
    check_internet:
      search_wifi: /home/user/.mecha/connect/src/assets/images/searching_wifi.gif
    no_internet:
      no_internet_found: /home/user/.mecha/connect/src/assets/images/no_wifi.gif
    configure_machine:
      machine_searching: /home/user/.mecha/connect/src/assets/images/machine_searching.gif
    setup_success:
      success: /home/user/.mecha/connect/src/assets/images/success.gif
    setup_failure:
      failure: /home/user/.mecha/connect/src/assets/images/failure.gif
    device_info:
      user_profile_img: /home/user/.mecha/connect/src/assets/images/mecha_compute.png
      active_status_icon: /home/user/.mecha/connect/src/assets/images/active_status.png
widget_configs:
  footer:
      back_icon: /home/user/.mecha/connect/src/assets/images/back_arrow.png
      next_icon: /home/user/.mecha/connect/src/assets/images/next_arrow.png
      settings_icon: /home/user/.mecha/connect/src/assets/images/settings_icon.png
      refresh_icon: /home/user/.mecha/connect/src/assets/images/refresh_icon.png
      trash_icon: /home/user/.mecha/connect/src/assets/images/trash_icon.png