.window {
    background-color: #070809;
    /* background-color: #000000; */
    font-family: 'Space Grotesk';
    /* color:#ffffff; */
    color:#d47a7a;
}

.footer-container {
    margin: 10px 10px;
}

.footer-container-button {
    min-width: 30px;
    min-height: 40px;
}

.app-container {
    padding: 5px 20px 20px 20px;
    color: #FAFBFC;
}

.start-screen-header {
    font-weight: 700;
    font-size: 26px;
    line-height: 34px;
    color: #FAFBFC;
    margin: 10px 10px;
}

/* .start-screen-header-label {
    font-weight: 500;
    font-size: 16px;
    line-height: 22px;
    color: #B7BBC8;
    margin: 10px 10px;
} */

.app-icon {
    min-width: 48px;
    min-height: 48px;
}

.info-icon {
    min-width: 24px;
    min-height: 24px;
    margin-right: 10px;
}

/* .link-machine-header-box */
.start-screen-header-box {
    min-width: 167px;
    min-height: 28px;
    padding: 15px 20px 12px 20px;
}

.start-header-p {
    padding: 0px 10px;
    font-size: 18px;
}

.start-screen-steps-container {
    margin: 5px 5px;
    color: #FAFBFC;
}

.start-screen-steps-label {
    margin: 10px 30px 10px 30px; 
}

.start-screen-steps-box {
    min-width: 440px;
    min-height: 76px;

    font-weight: 500;
    font-size: 18px;
    line-height: 26px;
    /* padding: 10px 0px 10px 0px; */
    padding: 30px 20px 30px 20px;
    margin: 20px 10px 25px 10px;

    background-color: #15171D;
    border-radius: 10px;
}

.start-screen-steps-icon {
    min-width: 76px;
    min-height: 76px;

    margin: 15px 0px;
}

.check-internet-text {
    font-weight: 500;
    font-size: 20px;
    line-height: 30px;
    color: #FAFBFC;
}

.link-machine-steps-container {
    margin: 20px 0px;
    color:#FAFBFC;
}

.link-machine-header-label {
    font-weight: 500;
    font-size: 18px;
    line-height: 22px;
    color: #B7BBC8;
    padding: 0px 10px;
}

.link-machine-border-box {
    border-radius: 4px;
    font-weight: 500;
    font-size: 28px;
    line-height: 35.73px;
    padding: 18px 16px 18px 16px;
    margin: 5px 0px 0px 0px;
    background-color: #15171D;
}

.bg-gray {
    background-color: #202431;
}

.link-machine-code {
    font-weight: 700;
    font-size: 28px;
    line-height: 35.73px;
    letter-spacing: 5px;
}

.link-machine-steps-box {
    /* padding:15px 0px 15px 0px; */
    margin: 15px 2px;
    color: #FAFBFC;
}

.link-machine-steps-text {
    font-weight: 500;
    font-size: 18px;
    line-height: 24px;
    color: #E4E7EE;
    margin: 0px 3px;
}

/* .link-machine-progress-box {
} */

.square-border-box {
    border: 1px solid #E4E7EE;
    padding: 4px 6px;
    font-weight: 700;
    font-size: 11px;
    line-height: 14px;
    margin-right: 4px;
}

.circle-border-box {
    border-radius: 55px;
    font-weight: 700;
    font-size: 14px;
    line-height: 16px;
    margin-right: 4px;
    background-color: #3283E8;
}

.gif-img {
    margin: 32px 40px 20px 40px;
}

.configure-text {
    margin: 20px 0px;
}

.configure-machine-text {
    font-weight: 500;
    font-size: 20px;
    line-height: 30px;
    color: #FAFBFC;
}

.timeout-img {
    min-width: 318px;
    min-height: 318px;
    margin: 30px 40px 20px 40px;
}

.setup-status-label {
    font-weight: 500;
    font-size: 20px;
    line-height: 30px;
    /* margin: 20px 0px; */
}

.setup-fail-border-box {
    /* border: 2px solid #202431; */
    /* padding: 18px 16px 18px 16px; */
    border-radius: 6px;
    padding: 20px;
    margin: 0px 8px;
}

.setup-fail-info {
    font-weight: 500;
    font-size: 16px;
    line-height: 22px;
    color: red;
    margin:6px 0px;
    padding: 4px 10px;
    background-color: #202124;
    border-radius: 10px;
}

.device-info-border-box {
    /* border: 1px solid #202431; */
    /* border-width: 1px; */
    background-color: #15171D;
    border-radius: 4px;
    font-weight: 440;
    padding: 20px 14px 20px 14px;
    margin:10px 5px 10px 5px;
}

.about-device-name {
    font-size: 20px;
    margin: 10px 0px 10px 5px;
}

.device-id-text{
    color: #848DA6;
}

.about-device-id {
    font-size: 18px;
    font-weight: 700;
    line-height: 22px;
}

.serial-no-value {
    font-size: 14px;
    font-weight: 400;
    line-height: 18px;
}

.device-info-sentence {
    font-weight: 500;
    font-size: 18px;
    line-height: 24px;
    color: #B7BBC8;
    margin:10px 5px;
}

.device-info-status-icon {
    min-width: 40px;
    min-height: 40px;
}

.device-info-icon {
    min-width: 128px;
    min-height: 128px;
    margin-top: 40px;
}

.blue {
    color: #2c2fec;
}

.gray {
    color: #6e6e72;
}

.custom-circle {
    min-width: 35px; 
    min-height: 35px; 
    border: 1px solid rgb(59, 61, 201); 
    border-radius: 50%; 
    margin: auto; 
    background: conic-gradient(rgb(44, 47, 236) 40%, #eee 0);
}

.time-progressbar trough{
    background-color:  #8da3ba;
    border-radius: 50%;
    min-width: 40px;
    min-height: 40px; 
    border: 4px solid #8da3ba; 
}

.time-progressbar trough progress{
    border-radius: 50%;
    min-width: 40px;
    min-height: 40px; 
}

/* .window stack box progressbar trough progress{  
    background-image: conic-gradient(#2c2fec 100%, #eee 0);
} */


.custom-progress-bar trough {
    min-height: 3px;
}

.custom-progress-bar trough progress {
    background-image: conic-gradient(#3283E8 100%, #eee 0);
    min-height: 3px;
}

.carousel { 
	margin-bottom: -15px;
}

/* .custom-toast toastoverlay toast {
	background-color: #3b3f49;
} */

.custom-toast {
	background-color: rgba(255, 255, 255, 0.2);
	border-radius: 25px;
	padding: 5px 10px; 
    margin: 6px;
}

.power-option-revealer {
    min-height: 50px;
}

.configure-revealer {
    min-height: 20px;
} 